<!--The content below is only a placeholder and can be replaced.-->
<header>
  <div class="container divtitulo">
      <div class="row">
        <div class="col-centrada">
          <label class="lblTitulo" >VERDULERIA LA MINI VEGA</label>
        </div>
      </div>
  </div>
</header>
<div  style="height: 350px;">
    <div class="divCentrrado">
      </div>
</div>
<footer>
    <div class="divfooter col-izquierdo" >
        <div class="row">
            <label class="lblFooter" >Visítenos en : Calle Bali 0252</label>
        </div>
    </div>
  
    <div class="divfooter col-derecho">
        <div class="row">
            <label class="lblFooter" >Contáctenos en : 2 2769 0799</label>
        </div>
    </div>
</footer>
