/* You can add global styles to this file, and also import other style files */
body {font-family: 'Tinos', serif;
    background-image: url("./app/imagenes/fondo.jpg");
    background-repeat:no-repeat;
    background-position:center center;
    background-attachment:fixed;
    background-size: 100% 100%, auto;
    background-attachment: fixed;
}